<!DOCTYPE html>
<html>
<head>
  <title><%= if content_for?(:title) then yield(:title) + ' | ' end %> Marianna OLE</title>
  <meta name='description'
      content='<%= yield_meta_tag(:description, 'Default description') %>' />
  <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'defaults,ruby,rails') %>' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- Latest compiled and minified CSS --> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

    <link href="mystyle.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/#aboutme">Home</a></li>
  <li role="presentation"><a href="/#myprojects">My projects</a></li>
  <li role="presentation"><a href="/#contactme">Contact me</a></li>
  <li role="presentation"><%= link_to "Blog", articles_path %></li>
  <li role="presentation"><%= link_to "Video", controller: "home", action: "video" %></li>
</ul>
<p class="flash"><%= flash.notice %> </p>
  <div>
    <div>
      <%= yield %>
    </div>
  </div><!-- /.container -->
  <hr>

<div class="row" id="contactme">
        <div class="col-lg-12">
          <h1 class="text-center p-b-2">Contact me</h1>
        </div>
      </div>
      <br/><br/>
      <div class="row text-center pt-3">
        <div class="col-lg-3">
            <p><a target="_blank" href="https://www.facebook.com/marianna.olefyrenko"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
          <p><a target="_blank" href="https://www.linkedin.com/in/marianna-olefyrenko-267062107/"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
          <p><a target="_blank" href="https://twitter.com/Marianna_OLE/" ><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></p>
        </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
          <p><a target="_blank" href="https://github.com/MariannaOLE/"><i class="fa fa-github-alt fa-3x" aria-hidden="true"></i></p>
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
      <hr>
<h6>
  <% if logged_in? %>
  <%= "Logged in as #{current_user.email}" %>
  <%= link_to "(logout)", logout_path %>
  <% else %>
  <%= link_to "(login)", login_path %>
  <% end %>
</h6>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Marianna OLE &middot; <a href="mailto:marianna.olefyrenko@gmail.com">marianna.olefyrenko@gmail.com</a> &middot;</p>
      </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
     <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
